
.about{
    color: #F0E2E7;
}
.skills{
    color: #F0E2E7;
}
.projects{
    color: #F0E2E7;
}
.contact{
    color: #F0E2E7;

}

body {
    background: #12664F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px;
}

h1{
    text-align: center;
    color: #DDC9B4;
}


